<div class="absence-container">
    <div class="unified-header">
      <div class="header-actions">
            <ng-container>
                <button
                    mat-raised-button
                    class="btn-add"
                    (click)="createNewAbsence()"
                    style="width:85px!important"
                >
                    <mat-icon>add</mat-icon>
                    Neu
                </button>
            </ng-container>

        </div>
        <div class="header-left">

            <h2 class="header-title">Abwesenheit - Hassan Terab</h2>
        </div>
        <div></div>
    </div>

    <div class="absence-layout">
        <div class="table-section">
            <app-absence-list
                (absenceSelected)="onAbsenceSelected($event)"
            ></app-absence-list>
        </div>

        <div class="table-section">
            <app-absence-detail
                [absenceId]="selectedAbsenceId"
                [absence]="selectedAbsence"
                [createMode]="selectedAbsenceId === 'new'"
                (saved)="onFormSaved()"
                (cancelled)="onFormCancelled()"
            ></app-absence-detail>
        </div>
    </div>
</div>
