@use "../styles/variables" as variables;
.cdk-overlay-connected-position-bounding-box{
      top: 126.8px;
    left: 827.562px;
    height: 324.2px;
    align-items: center;
    justify-content: flex-start;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 120vh;
  overflow: hidden;

  .content-container {
    display: flex;
    flex: 1;
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .main-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden; /* Hide overflow at this level */
      background-color: #f5f5f5;

      app-time-tracking-table {
        flex: 1;
        overflow: auto;
      }
    }
  }

  .status-bar {
    display: flex;
    justify-content: space-between;
    padding: 4px 15px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #666;
    height: 24px;

    @media (max-width: 576px) {
      flex-direction: column;
      height: auto;
      padding: 6px 15px;

      .status-message,
      .status-timestamp {
        width: 100%;
        text-align: left;
      }

      .status-timestamp {
        margin-top: 4px;
      }
    }

    .status-message {
      display: flex;
      align-items: center;

      &:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4caf50;
        margin-right: 6px;
      }
    }

    .status-timestamp {
      font-family: monospace;
    }
  }
}
